@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font{
  font-family: 'Poppins';
  font-weight: normal;
}

.font2{
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: normal;
}

h1{
  font-weight: normal;
  font-size: 30px;
  margin-left: 11px;
  font-family: 'Praise';
  letter-spacing: 3px;
  cursor: pointer;
}

.button{
  padding: 8px;
  text-align: center;
  width: 100%;
  background-color:#00b712 ;
  background-image:
      linear-gradient(180deg, #00b712 0%, #5aff15 80%); 
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}