@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

